@using FahasaStoreApp.Components
@using FahasaStoreApp.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
    var data = ViewData["Data"] as HomeIndexVM;

    var banners = data?.BannerPaged.Items.ToList();
    var menu = data?.MenuPaged.Items.ToList();
    var flashSaleToday = data?.FlashSaleToday;
    var trendOfMonth = data?.TrendOfMonthPaged.Items.ToList();
    var trendOfYear = data?.TrendOfYearPaged.Items.ToList();
    var categories = data?.CategoryPaged.Items.ToList();
    var topSellingBooksByCategory = data?.TopSellingBooksByCategoryPaged.Items.ToList();
    var partners = data?.PartnerPaged.Items.ToList();
    var recommendationSystem = data?.BooksRecommendationSystem.Items.ToList();
}

<div class="bg-black bg-opacity-10 rounded-3">
    @* banner *@
    @if (banners != null && banners.Count > 0)
    {
        @* banner top *@
        <div class="container pt-3">
            <div class="row g-2">
                <div class="col-sm-8">
                    <div id="carouselBanner" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            @if (banners != null && banners.Count > 0)
                            {
                                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide @banners[0].Id"></button>
                                @if (banners.Count > 1)
                                {
                                    for (int i = 1; i < banners.Count - 6; i++)
                                    {
                                        var item = banners[i];
                                        <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="@i" aria-label="Slide @item.Id"></button>
                                    }
                                }

                            }
                        </div>
                        <div class="carousel-inner rounded-3 overflow-hidden w-100">
                            @if (banners != null && banners.Count - 6 > 0)
                            {
                                <div class="carousel-item active" style="padding-bottom: 38%;">
                                    <a href="/Home/Banner/@banners[0].Id">
                                        <img src="@banners[0].ImageUrl" class="w-100 h-100 position-absolute object-fit-cover" alt="slide @banners[0].Id">
                                    </a>
                                </div>
                                @if (banners.Count - 6 > 1)
                                {
                                    for (int i = 1; i < banners.Count - 6; i++)
                                    {
                                        var item = banners[i];
                                        <div class="carousel-item" style="padding-bottom: 38%;">
                                            <a href="/Home/Banner/@item.Id">
                                                <img src="@item.ImageUrl" class="w-100 h-100 position-absolute object-fit-cover" alt="slide @item.Id">
                                            </a>
                                        </div>
                                    }
                                }

                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
                            <span class="bi-arrow-left-circle-fill" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
                            <span class="bi-arrow-right-circle-fill" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-4">
                    @if (banners != null)
                    {
                        for (int i = banners.Count - 6; i < banners.Count - 4; i++)
                        {
                            var item = banners[i];
                            <div class="h-50 w-100 pb-1">
                                <div class="position-relative w-100 h-100">
                                    <a href="/Home/Banner/@item.Id"><img src="@item.ImageUrl" class="rounded-3 w-100 h-100 position-absolute object-fit-cover" /></a>
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
        </div>
        @* banner bottom *@
        <div class="container mt-4 d-none d-sm-block">
            <div class="row g-2">
                @if (banners != null)
                {
                    for (int i = banners.Count - 4; i < banners.Count; i++)
                    {
                        var item = banners[i];
                        <div class="col-3">
                            <a href="/Home/Banner/@item.Id" class="d-block position-relative h-100 w-100" style="padding-bottom: 66.67%;">
                                <img src="@item.ImageUrl" class="w-100 h-100 rounded-3 position-absolute" style="object-fit: cover;" />
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    }

    @* Menu *@
    @if (menu != null && menu.Any())
    {
        <div class="container mt-4">
            <div class="menu bg-white rounded-3 py-4">
                @foreach (var item in menu)
                {
                    <div>
                        <div class="menu__item">
                            <a href="@item.Link" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@item.Name">
                                <div class="w-50 position-relative mx-auto" style="padding-bottom: 50%;">
                                    <img src="@item.ImageUrl" class="w-100 h-100 rounded-3 position-absolute" style="object-fit: cover;" />
                                </div>
                                <p class="m-0 text-center">@item.Name</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    @* flash sale *@
    @if (flashSaleToday != null)
    {
        <div class="mt-4" style="background-color: #ff6c6b;">
            <div class="container py-4">
                <div class="bg-white rounded-3 py-3 px-4 fw-bold d-flex align-items-center flex-wrap">
                    <a href="" class="text-decoration-none">
                        <img src="~/image/label-flashsale.svg" width="130" height="26" class="object-fit-cover" />
                    </a>
                    <span class="mx-3">Kết thúc trong</span>
                    <div class="d-flex align-items-center">
                        <span id="days" class="mx-2 p-2 text-white rounded-3 bg-black">00</span> :
                        <span id="hours" class="mx-2 p-2 text-white rounded-3 bg-black">00</span> :
                        <span id="minutes" class="mx-2 p-2 text-white rounded-3 bg-black">00</span> :
                        <span id="seconds" class="mx-2 p-2 text-white rounded-3 bg-black">00</span>
                    </div>
                    @* <a href="" class="ms-auto d-flex text-decoration-none"><span class="d-none d-md-block">Xem tất cả</span> <i class="bi bi-chevron-right"></i></a> *@
                </div>
                <div class="flashSaleMenu mt-4" countDownDate="@flashSaleToday.EndDate">
                    @(await Html.RenderComponentAsync<BookComponent>(RenderMode.ServerPrerendered, new { FlashSaleBooks = flashSaleToday.FlashSaleBooks }))
                </div>
            </div>
        </div>
    }

    @if (recommendationSystem != null && recommendationSystem.Any())
    {
        <div class="container mt-4">
            <div class="d-flex align-items-center p-3 rounded-top-3" style="background-color: #FCDDEF;">
                <img src="~/image/icon_dealhot_new.png" width="32" height="32" class="object-fit-cover rounded-3" />
                <h5 class="mb-0 p-2">Sản Phẩm Gợi Ý Cho Bạn</h5>
            </div>
            <div class="bg-white p-3 rounded-bottom-3">
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mt-1">
                    @(await Html.RenderComponentAsync<BookComponent>(RenderMode.ServerPrerendered, new { Books = recommendationSystem }))
                </div>
                <div class="text-center mt-3">
                    <a href="#" class="btn btn-outline-danger px-5">Xem Thêm</a>
                </div>
            </div>
        </div>
    }

    @* Shopping trends *@
    <div class="container mt-4">
        <div class="d-flex align-items-center p-3 rounded-top-3" style="background-color: #FCDDEF;">
            <img src="~/image/icon_dealhot_new.png" width="32" height="32" class="object-fit-cover rounded-3" />
            <h5 class="mb-0 p-2">Xu Hướng Mua Sắm</h5>
        </div>
        <div class="bg-white p-3 rounded-bottom-3">
            <ul class="nav nav-tabs" id="shoppingTrendsTab" role="tablist">
                @* <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="trendOfDay-tab" data-bs-toggle="tab" data-bs-target="#trendOfDay-tab-pane" type="button" role="tab" aria-controls="trendOfDay-tab-pane" aria-selected="true">
                        Xu Hướng Theo Ngày
                    </button>
                </li> *@
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="trendOfMonth-tab" data-bs-toggle="tab" data-bs-target="#trendOfMonth-tab-pane" type="button" role="tab" aria-controls="trendOfMonth-tab-pane" aria-selected="true">
                        Xu Hướng Theo Tháng
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="trendOfYear-tab" data-bs-toggle="tab" data-bs-target="#trendOfYear-tab-pane" type="button" role="tab" aria-controls="trendOfYear-tab-pane" aria-selected="false">
                        Xu Hướng Theo Năm
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="shoppingTrendsTab">
                @* <div class="tab-pane fade show active" id="trendOfDay-tab-pane" role="tabpanel" aria-labelledby="trendOfDay-tab" tabindex="0">
                    <div class="row row-cols-2 row-cols-sm-4 row-cols-md-5 g-4 mt-1">
                        @(await Html.RenderComponentAsync<BookComponent>(RenderMode.ServerPrerendered, new { Books = trendOfDay }))
                    </div>
                    <div class="text-center mt-3">
                        <a href="" class="btn btn-outline-danger px-5">Xem Thêm</a>
                    </div>
                </div> *@
                <div class="tab-pane fade show active" id="trendOfMonth-tab-pane" role="tabpanel" aria-labelledby="trendOfMonth-tab" tabindex="0">
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mt-1">
                        @(await Html.RenderComponentAsync<BookComponent>(RenderMode.ServerPrerendered, new { Books = trendOfMonth }))
                    </div>
                    <div class="text-center mt-3">
                        <a href="" class="btn btn-outline-danger px-5">Xem Thêm</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="trendOfYear-tab-pane" role="tabpanel" aria-labelledby="trendOfYear-tab" tabindex="0">
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mt-1">
                        @(await Html.RenderComponentAsync<BookComponent>(RenderMode.ServerPrerendered, new { Books = trendOfYear }))
                    </div>
                    <div class="text-center mt-3">
                        <a href="" class="btn btn-outline-danger px-5">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Ranking sell *@
    @if (categories != null && categories.Any() && topSellingBooksByCategory != null && topSellingBooksByCategory.Any())
    {
        <div class="container mt-4">
            <div class="p-3 bg-black rounded-top-3 d-flex align-items-center text-white">
                <img src="~/image/icon_dealhot_new.png" width="32" height="32" class="object-fit-cover rounded-3" />
                <h5 class="mb-0 p-2">Bảng Xếp Hạng bán Chạy Nhất</h5>
            </div>
            <div class="p-3 bg-white rounded-bottom-3">
                <ul class="nav nav-tabs mb-1" id="rankingTab">
                    @{
                        var index = 0;
                        foreach (var item in categories)
                        {
                            if (index == 0)
                            {
                                index = index + 1;
                                <li class="nav-item">
                                    <button class="nav-link active" onclick="HandlerBestSelling(@item.Id)" categoryId="@item.Id" data-bs-toggle="tab">@item.Name</button>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <button class="nav-link" onclick="HandlerBestSelling(@item.Id)" categoryId="@item.Id" data-bs-toggle="tab">@item.Name</button>
                                </li>
                            }
                        }
                    }
                </ul>
                <div class="tab-content" id="tab-content_rankingTab">
                    <div class="p-3">
                        <div class="row">
                            <div class="ranking-slider-nav col-5">
                                @{
                                    int i = 0;
                                    foreach (var book in topSellingBooksByCategory)
                                    {
                                        i = i + 1;
                                        <div class="py-2 zoom-in">
                                            <div class="row align-items-center g-0">
                                                <div class="col-1 text-center">
                                                    <span>@i</span>
                                                    <i class="bi bi-arrow-up-short text-success fw-bold fs-5"></i>
                                                </div>
                                                <div class="col-11 d-flex align-items-center flex-column flex-lg-row">
                                                    <img src="@book.BookPoster" class="rounded-start object-fit-cover" width="100" height="100" alt="...">
                                                    <div class="d-flex flex-column px-2">
                                                        <a href="/Home/Product/@book.Id" class="twoLine text-decoration-none">@book.Name</a>
                                                        <small class="text-black-50">@book.AuthorName</small>
                                                        <small class="text-black-50">Đã bán: @book.Solded</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="ranking-slider-for col-7">
                                @{
                                    foreach (var book in topSellingBooksByCategory)
                                    {
                                        <div class="d-flex flex-column align-items-center flex-lg-row align-items-lg-start">
                                            <a href="/Home/Product/@book.Id" class="p-2 text-center text-decoration-none d-md-flex align-items-md-center d-lg-block">
                                                <img src="@book.BookPoster" width="240" height="240" class="object-fit-cover" />
                                                <span class="btn btn-danger">Xem ngay</span>
                                            </a>
                                            <div class="px-2 d-flex flex-column">
                                                <a href="" class="text-decoration-none text-black">
                                                    <h6>@book.Name</h6>
                                                </a>
                                                <span>Tác giả: @book.AuthorName</span>

                                                <span class="fw-bold mt-2">@book.CurrentPrice.ToString("N0") đ</span>
                                                <div class="mb-2">
                                                    <small class="text-decoration-line-through">@book.Price.ToString("N0") đ</small>
                                                    <span class="bg-warning rounded-3 px-2 fw-bold text-danger">-@book.DiscountPercentage %</span>
                                                </div>
                                                <small class="textContent textIntroductionLite">@book.Description</small>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @* trademark *@
    @if (partners != null && partners.Any())
    {
        <div class="container mt-4">
            <div class="trade-mark rounded-3 bg-white py-3">
                @foreach (var item in partners)
                {
                    <div class="position-relative" title="@item.Name" style="padding-bottom: 100%;">
                        <a href="/Home/Filter?PartnerId=@item.Id" class="position-absolute w-100 h-100">
                            <img src="@item.ImageUrl" class="object-fit-cover p-2 w-100 h-100" />
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    
</div>

@section Scripts {
    <script>
        // fast link
        $(document).ready(function () {
            $('.menu').slick({
                infinite: true,
                slidesToShow: 10,
                slidesToScroll: 10,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 8,
                            slidesToScroll: 8,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 6,
                            infinite: true,
                        }
                    },
                    {
                        breakpoint: 414,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                            infinite: true,
                        }
                    },
                ]
            });
        });

        // flash sale time diff
        $(document).ready(function () {
            var endDate = $(".flashSaleMenu").attr("countDownDate");
            var countDownDate = new Date(endDate).getTime();
            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                $('#days').html(days >= 10 ? days : "0" + days);
                $('#hours').html(hours >= 10 ? hours : "0" + hours);
                $('#minutes').html(minutes >= 10 ? minutes : "0" + minutes);
                $('#seconds').html(seconds >= 10 ? seconds : "0" + seconds);

                if (distance < 0) {
                    clearInterval(x);
                    $('#days').html("00");
                    $('#hours').html("00");
                    $('#minutes').html("00");
                    $('#seconds').html("00");
                }
            }, 1000);
        });

        // flash sale menu
        $(document).ready(function () {
            $('.flashSaleMenu').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 5,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4
                        }
                    },
                    {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                ]
            });
        });

        // Ranking sell
        $(document).ready(function () {
            $('.ranking-slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                fade: true,
                autoplay: true,
                autoplaySpeed: 2000,
                asNavFor: '.ranking-slider-nav',
            });
            $('.ranking-slider-nav').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                asNavFor: '.ranking-slider-for',
                dots: false,
                arrows: false,
                focusOnSelect: true,
                vertical: true
            });
        });

        $(document).ready(function () {
            $('.ranking-slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                fade: true,
                autoplay: true,
                autoplaySpeed: 2000,
                asNavFor: '.ranking-slider-nav',
            });
            $('.ranking-slider-nav').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                asNavFor: '.ranking-slider-for',
                dots: false,
                arrows: false,
                focusOnSelect: true,
                vertical: true
            });
        });

        // trade mark
        $(document).ready(function () {
            $('.trade-mark').slick({
                infinite: true,
                slidesToShow: 9,
                slidesToScroll: 9,
                arrows: true,
                dots: false,
                autoplay: true,
                autoplaySpeed: 3000,
                swipeToSlide: false,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 5,
                            slidesToScroll: 5,
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                        }
                    }
                ]
            });
        });
    </script>
}