@using FahasaStore.Models
@using FahasaStoreApp.Models.ViewModels
@model FahasaStore.Models.OrderBase
@{
    Layout = "_Layout";
    ViewData["Title"] = "Đặt hàng";

    var filterPaymentMethod = ViewData["PaymentMethods"] as PagedVM<PaymentMethodExtend>;
    var paymentMethods = filterPaymentMethod?.Items.ToList();
    var voucher = ViewData["Voucher"] as VoucherExtend;


    var filterCartItem = ViewData["CartItems"] as FilterVM<CartItemDetail>;
    var cartItems = filterCartItem?.Paged.Items.ToList();
    var totalMoney = cartItems?.Sum(e => e.IntoMoney);
}
<form asp-action="Create">
    <div id="Payment" class="bg-black bg-opacity-10">
        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.AddressId)</h6> <hr />
                <div class="d-flex justify-content-start">
                    <div>
                        <div class="input-group">
                            <select asp-for="AddressId" class="form-control" asp-items="ViewBag.Addresses"></select>
                            <span asp-validation-for="AddressId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.PaymentMethodId)</h6> <hr />
                <div>
                    @{
                        if (paymentMethods != null && paymentMethods.Count > 0)
                        {
                            foreach (var paymentMethod in paymentMethods)
                            {
                                <div class="form-group form-check">
                                    <label class="form-check-label w-100 py-2">
                                        <img src="@paymentMethod.ImageUrl" width="30" height="30" class="object-fit-contain mx-2" />
                                        <input class="form-check-input" asp-for="PaymentMethodId" type="radio" value="@paymentMethod.Id" /> @paymentMethod.Name
                                    </label>
                                </div>
                            }
                        }
                    }
                    <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Khuyến mãi đã áp dụng</h6> <hr />
                <div>
                    @if (voucher != null)
                    {
                        <input class="form-control" asp-for="VoucherId" hidden />
                        <div class="d-flex align-items-center bg-light border rounded-3 p-2">
                            <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_coupongreen.svg?q=105721" width="100" height="100" class="object-fit-contain me-2" />
                            <div class="flex-grow-1">
                                <div class="oneLine text-uppercase fw-bold">@voucher.Name</div>
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <a href="/User/HomeUser/VoucheUserDetails" IdValue="@voucher.Id" onclick="HandlerCRUD(this, event)" class="text-decoration-none">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span class="text-black text-opacity-75">Chưa sử dụng khuyến mãi nào</span>
                    }
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Kiểm tra lại đơn hàng</h6> <hr />
                <div>
                    @{
                        if (cartItems != null && cartItems.Count > 0)
                        {
                            foreach (var cartItem in cartItems)
                            {
                                <input name="CartItemIds" type="checkbox" checked value="@cartItem.Id" hidden />
                                <div class="d-flex mb-3">
                                    <img src="@cartItem.Book?.BookPoster" width="120" height="120" class="object-fit-contain mx-2" />
                                    <div class="flex-grow-1">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <span class="text-truncatet-row-double">@cartItem.Book?.Name</span>
                                            </div>
                                            <div class="col-md-2">
                                                <span class="fw-bold">@cartItem.Book?.CurrentPrice.ToString("N0") đ</span> <br class="d-none d-md-block" />
                                                <span class="text-decoration-line-through">@cartItem.Book?.Price.ToString("N0") đ</span>
                                            </div>
                                            <div class="col-md-1">
                                                x @cartItem.Quantity
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="text-danger fw-bold">@cartItem.IntoMoney.ToString("N0") đ</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">@Html.DisplayNameFor(model => model.Note) (nếu có)</h6> <hr />
                <div>
                    <textarea asp-for="Note" class="w-100 rounded-3 p-3" placeholder="Ghi chú"></textarea>
                </div>
            </div>
        </div>

        <div class="container pt-4">
            <div class="p-3 rounded-3 bg-white">
                <h6 class="text-uppercase">Xác nhận thanh toán</h6> <hr />
                <div class="d-flex justify-content-end">
                    @if (totalMoney.HasValue)
                    {
                        <div>
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Tổng tiền:</span>
                                <h6 class="fw-bold mx-3 my-0">@totalMoney.Value.ToString("N0") đ</h6>
                            </div>
                            @if (voucher != null)
                            {
                                var discount = totalMoney.Value > voucher.MaxDiscountAmount ? voucher.MaxDiscountAmount : totalMoney.Value;
                                var payment = totalMoney.Value - discount;
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Mã giảm giá:</span>
                                    <h6 class="fw-bold mx-3 my-0">- @discount.ToString("N0") đ</h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span>Thanh toán:</span>
                                    <h6 class="text-danger fw-bold mx-3 my-0 fs-5">@payment.ToString("N0") đ</h6>
                                </div>
                            }
                            <div class="mt-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-danger">Xác nhận thanh toán</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</form>